<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>

    <link rel="stylesheet" type="text/css" href="../Preferences/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../Preferences/css/font-awesome.css">

    <link rel="stylesheet" href="../Preferences/css/templatemo-training-studio.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

</head>
<body>
    <!-- ***** Preloader Start *****-->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/Home" class="logo">Training<em> Studio</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            <li class="scroll-to-section"><a href="/Home" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/Store/Index" class="active">Store</a></li>
                            @if(Session["CustomerName"] != null)
                             { 
                                <li class="scroll-to-section"><a href="/Order/Index" class="active">History Order</a></li>
                                <li class="scroll-to-section"><a href="/Store/Index" class="active">ID User: @Session["UserIDCTM"]</a></li>
                                <li class="scroll-to-section"><a href="/Cart/Index" class="active">Cart(@Session["AmmountOnCart"])</a></li>
                             }


                            @{
                                var text = "Sign Up";
                                var hre = "/Login/Login";
                                var cart_show = "none";
                                var color = "";

                                if (Session["Status"] != null) { text = "Sign Out"; hre = "/Login/Logout"; cart_show = "normal"; color = "linen"; }
                            }
                            <li class="main-button"><a href=@hre style="background-color:@color">@text</a></li>


                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    @RenderBody()

    <h1>Check: @Session["check-text"]</h1>




    <!-- jQuery -->
    <script src="../Preferences/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../Preferences/js/popper.js"></script>
    <script src="../Preferences/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../Preferences/js/scrollreveal.min.js"></script>
    <script src="../Preferences/js/waypoints.min.js"></script>
    <script src="../Preferences/js/jquery.counterup.min.js"></script>
    <script src="../Preferences/js/imgfix.min.js"></script>
    <script src="../Preferences/js/mixitup.js"></script>
    <script src="../Preferences/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="../Preferences/js/custom.js"></script>

</body>
</html>
