@model IEnumerable<WebSpecialProject.Models.ProductToSell>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="display:flex;flex-wrap:wrap;justify-content: center;">
    @foreach (var item in Model)
    {
        <div class="w3-card-4 " style="width:250px;height:350px;margin:50px">
            <div class="w3-container w3-center">
                <h4>@Html.DisplayFor(modelItem => item.ProductName)</h4>
                <img src="~/Images/1.jpg" style="width:200px;height:auto" />
                <div style="position:relative;top:-30px;">
                    <h6>Remain:  @Html.DisplayFor(modelItem => item.QuanlityRemain) products</h6>
                    <h5>Price: @Html.DisplayFor(modelItem => item.Price)$</h5>
                    <div class="w3-section">

                        <form method="POST" action="~/Store/AddToCart">
                            <div class="form-group" style="display:none">
                                <input type="text" value=@item.ID name="IdProduct" />
                            </div>
                            <div style="display:none; ">
                                <input style="width:40px;" type="number" name="QuantityToSell" value="1" />
                            </div>
                            <div style="display:none">
                                <input name="NameProduct" value="@item.ProductName" />
                            </div>
                            <div>
                                <button class="w3-button w3-green">Detail</button>

                                <button class="w3-button w3-red" type="submit">Add To Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



